* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(../img/fundo.png) repeat-x;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

label {
    display: block;
    cursor: pointer;
}

input {
    font-size: 0.9em;
    background: #fff;
    padding: 5px;
    width: 125px;
}

input.submit {
    width: 80px;
    color: #fff;
    background: #b10333;
    border: 2px solid #870729;
    padding: 5px;
}

img.imagem-principal {
    border: 3px solid #dfdfdf;
    width: 98%;
}

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

#container {
    width: 750px;
    margin: 0px auto;
}

#topo {
    height: 150px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

#topo ul {
    margin-top: 20px;
    background: #b10333;
    float: left;
}

#topo ul li {
    float: left;

}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.5em;
    text-decoration: none;
    color: white;
    background: url(../img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center ;
    text-indent: -3000px;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

#conteudo {
    margin-top: 60px;
    background-color: #f5f5f5;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#tres-colunas #primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 555px;
}

#uma-colunas #primario {
    width: 555px;
    margin: 0 0 20px 195px;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../img/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

#container-rodape {
    background: #294c71;
    padding: 20px;
    clear: both;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}

#lista-noticias li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li a img {
    float: left;
    padding: 5px;
}

#lista-noticias li a{
    text-decoration: none;
}

#lista-noticias li a h3 {
    font-size: 0.8em;
    padding: 0px;
    color: rgb(85, 141, 141);
}

#lista-noticias li a p {
    font-size: 0.7em;
    color: black;
}

.caixa {
    margin: 10px 0px;
    padding: 5px;
    background: #f3f3f3 url(../img/fundo-caixa.png);
}

.caixa h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo {
    padding: 5px;
    background: #fff;
    margin-top: 5px;
}

.destaque h3 {
    background: #b10333;
    color: #fff;
}